.exo1 {
    background-color: #0b6416;
    position: absolute;
    width: 100%;
    padding: 4%;
}
.exo2 {
    background-color: #0b2641;
    position: absolute;
    width: 80%;
    padding: 1%;
}
.exo3 {
    background-color: #00f1ff;
    position: absolute;
    margin-top: 10%;
    padding: 5%;
}