.exo1 {
    width: 200px;
    height: 200px;
    padding: 20px;
    background-color: #0b6416;
}
.exo2 {
    margin: 10px;
    width: 60px;
    height: 60px;
    padding: 4%;
    background-color: #0b2641;
}
.exo3 {
    margin: 10px;
    width: 60px;
    height: 60px;
    padding: 4%;
    background-color: #00f1ff;
}
.exo4 {
    margin: -170px 10px 10px 110px;
    width: 60px;
    height: 60px;
    padding: 4%;
    background-color: #7d0e12;
}
.exo5 {
    margin: 10px 110px 10px 110px;
    width: 60px;
    height: 60px;
    padding: 4%;
    background-color: #8ac329;
}